<div class="cnavi" data-ng-include="'app/app_header.tpl.html'" data-ng-controller="AppHeaderController as header"></div>

<!-- upper contents -->
<section class="upper_contents">
  <section class="app_summary_area">
    <div class="app_summary_left">
      <img class="icon_large" data-ng-src="{{ detail.info.iconUrl.large }}" alt="{{ detail.info.displayName }} Icon">
      <article class="btn_install_large">
        <button type="button" data-ng-class="{'installed': detail.info.installed}" data-ng-disabled="detail.info.installed" data-ng-click="detail.installApp(detail.info)">
          <span data-ng-show="detail.info.installing">
            <i class="install fa fa-spin fa-spinner"></i>
            <span class="text_waiting">waiting</span>
          </span>
          <span data-ng-hide="detail.info.installed">
            <img src="/static/img/icon_install_app.png" alt="Install Icon">
            <span class="text_install">Install</span>
          </span>
          <span data-ng-show="!detail.info.installing && detail.info.installed">
            <img src="/static/img/icon_install_app.png" alt="Install Icon">
            <span class="text_installed">Installed</span>
          </span>
        </button>
      </article>
    </div>
    <div class="app_summary_right">
      <h1>{{ detail.info.displayName }}</h1>
      <h5><a href=""> {{ detail.info.seller }}<i class="fa fa-angle-right"></i></a></h5>
      <p class="price_detail">{{ detail.info.fee }}</p>
      <div review-star="{{ detail.average }}"></div>
      <div class="review_average">
        <p class="average_point">Average {{ detail.average | number:1 }}</p>

        <p class="total_review">(Total {{ detail.totalCount }} reviews)</p>
      </div>
      <div class="btn_social_area">
        <div class=" btn_social twitter">
					<a><i class="fa fa-twitter"></i></a>
        </div>
        <div class="btn_social facebook">
          <a><i class="fa fa-facebook"></i></a>
        </div>
        <div class="btn_social google_plus">
          <a><i class="fa fa-google-plus"></i></a>
        </div>
      </div>
    </div>
  </section>
</section>
<!-- upper contents -->

<!-- main contents -->
<section class="detail_main_contents">

  <!-- screenshots -->
  <section class="screenshots info_detail_area">
    <h3>Screenshots</h3>

    <div class="screenshots_container">
      <a data-ng-repeat="url in detail.info.screenShotURLs track by $index" data-remote="{{ url }}" data-toggle="lightbox" data-gallery="screenshots">
        <img data-ng-src="{{ url }}" class="img-responsive" alt="ScreenShot{{ $index + 1 }}">
      </a>
    </div>
  </section>
  <!-- updated info -->

  <!--app description -->
  <article class="app_description info_detail_area">
    <h3>Description</h3>
    <p class="info_detail">{{ detail.info.description }}</p>
  </article>
  <!--app description -->

  <!--version info -->
  <article class="version_info info_detail_area" data-ng-init="history = detail.info.versionHistory[0]">
    <h3>What's new in version {{ history.version }}</h3>
    <p class="info_detail">{{ history.description }}</p>
    <p class="more_load_area">
      <a class="more_load">Load more<i class="fa fa-angle-right"></i></a>
    </p>
  </article>
  <!--version info -->

  <!--customer review -->
  <article class="review_detail info_detail_area">
    <h3>Customer review</h3>

    <div class="info_detail">
      <article data-ng-repeat="review in detail.info.review.latest" id="user_{{ $index }}">
        <span class="user_name">{{ review.username }}:</span>
        <span class="user_comment">{{ review.comment }}</span>
        <div review-star="{{ review.rate }}"></div>
      </article>
    </div>
    <p class="more_load_area">
      <a class="more_load">Load more<i class="fa fa-angle-right"></i></a>
    </p>
  </article>
  <!--customer review -->

</section>
<!-- main contents -->

