
@charset "utf-8";


/* =============================

	Basic	
	
============================= */




/* Header ============================= */
header.header_app {
	background: rgba(#333333, 1.0);
}


/* main  ============================= */
.main {
	min-width: 800px;
}

.main_appstore {
	//clear: both;
	//overflow: hidden;
}

/* contents navigation  ============================= */
.cnavi {
	@include cnavi-base;
	ul.l_navi {
		//border: #ff0000 solid 1px; //debug
		@include cnavi;
		float: left;
		margin: 0;
	}
	
	form {
		width: 320px;
		height: 84px;
		float: right;
		position: relative;
    	padding: 24px 24px 0 0;
    	//border: #ff0000 solid 1px; //debug
    	input.form-control {
	    	@include input_form;
    	}
    	span {
	    	@include search_icon;
    	}
	}
}


/* main contents ============================= */

.main_contents {
	width: 1024px;
	height: auto;
	padding: 50px 16px 20px 16px;
	@include block_center;
	//border: #ff0000 solid 1px; //debug
	
	.apps_area {
		width: 752px;
		padding: 16px 16px 20px 16px;
		float: left;
		@include fontsize-14;
		border-right: dotted 1px rgba(#cccccc, 1.0);
		//border: #ff0000 solid 1px; //debug
		section {
			padding-bottom: 20px;
		}
		h3 {
			width: 600px;
			@include fontsize-24;
			@include blue-normal;
			//border: #ff0000 solid 1px; //debug
			padding: 4px 0 12px 40px;
			float: left;
			position: relative;
			img {
				width: 30px;
				height: 30px;
				position: absolute;
				left: 2px;
				top: 2px;
			}
		}
		.more_app {
			width: 88px;
			float: right;
			text-align: right;
			padding: 12px 38px 0 0;
			//border: #ff0000 solid 1px; //debug
			a {
				@include fontsize-13;
				@include grey-normal;
				@include grey_text_anchor;
				i { padding-left: 8px;}
			}
		}
		.app_list {
			clear: both;
			overflow: hidden;
		}
		.app {
			width: 140px;
			height: 190px;
			float: left;
			text-align: center;
			position: relative;
			//border: #ff0000 solid 1px; //debug
			a {
				text-align: center;
				display: block;
				@include grey-important;
				@include block_center;
				//border: #ff0000 solid 1px; //debug
				padding-bottom: 2px;
				
				img {
					width: 108px;
					height: 108px;
					@include block_center;
					//border: #ff0000 solid 1px; //debug
					}
				span {
					display: inline-block;
					@include block_center;
					@include fontsize-13;
					@include grey-important;
					@include app_link_anchor;
					width: 120px;
					//height: 3.0em;
					line-height: 1.4em;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: normal;
					text-align: center;
					//border: #ff0000 solid 1px; //debug
					}
			}
			.list_price {
				@include fontsize-13;
				padding-bottom: 8px;
				@include grey-normal;
				//border: #ff0000 solid 1px; //debug
			}
			.btn_install_small {
			  position: absolute;
			  bottom: 8px;
			  left: 18px;
				display: block;
				@include block_center;
				@include r-btn-s-grey;
				&.installed {
					@include btn_disabled_color;
				}
				.hover_install_btn { display: none;}
				&:hover .hover_install_btn {
					display: inline;
					@include transition-duration(0.3s);
				}
			  &:hover .default_btn {
				  display: none;
				  @include transition-duration(0.3s);
			  }
			}
		}
	}
	.side_area {
		width: 266px;
		padding: 16px 0px 20px 28px;
		float: left;
		//border: #ff0000 solid 1px; //debug
		@include fontsize-13;
		h3 {
			@include fontsize-24;
			@include blue-normal;
			padding-bottom: 12px;
			//border: #ff0000 solid 1px; //debug
		}
		li {
			width: 230px;
			padding: 4px 0 12px 0;
			float: left;
			//border: #ff0000 solid 1px; //debug
			p.number {
				@include fontsize-15;
				@include blue-important;
				padding-right: 12px;
				width: 28px;
				height: 32px;
				float: left;
				//border: #ff0000 solid 1px; //debug
			}
			.text_area {
				width: 200px;
				float: right;
				text-align: left;
				//border: #ff0000 solid 1px; //debug
			}
			a {
				display: inline-block;
				//border: #ff0000 solid 1px; //debug
				@include app_link_anchor;
				@include fontsize-15;
				@include grey-important;
				padding-bottom: 8px;	
			}
			.genre {
				width: 200px;
				@include fontsize-13;
				@include grey-normal;
				//border: #ff0000 solid 1px; //debug
				float:right;
				text-align: left;
			}
		}
	}
}


/* banner area ============================= */

.upper_banner_area {
	width: 100%;
	height: 260px;
	//border: #ff0000 solid 1px; //debug
}

/* Half Page Height Carousel Customization */

.item,
.active,
.carousel-inner {
  height: 100%;
}

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* Social Icons Styles */
.list-social-icons {
  margin-bottom: 45px;
}

.tooltip-social a {
  text-decoration: none;
  color: inherit;
}

.facebook-link a:hover {
  color: #3b5998;
}

.linkedin-link a:hover {
  color: #007fb1;
}

.twitter-link a:hover {
  color: #39a9e0;
}

.google-plus-link a:hover {
  color: #d14836;
}

/* Service Page Styles */
.service-icon {
  font-size: 50px;
}

/* 404 Page Styles */
.error-404 {
  font-size: 8em;
}

/* Pricing Page Styles */
.price {
  font-size: 4em;
}

.price-cents {
  vertical-align: super;
  font-size: 50%;
}

.price-month {
  font-size: 35%;
  font-style: italic;
}


/* Slideshow with Parallax =========================================================*/

/* Original */

.upper_banner_area_test {
	width: 100%;
	height: 260px;
	margin: 0;
	padding: 0;
	//border: #ff0000 solid 1px; //debug
}

#slide-pagination {
	position: absolute;
	width: 100%;
	//border: #ff0000 solid 1px; //debug
	z-index: 9000;
	a {
	  position: absolute;
	  display: inline-block;
	  font-size: 58px;
	  font-weight: 100;
	  color: rgba(#fff, 0.6);
	}
	a.prev {
		top: 100px;
		left: 20px;
	}
	a.next {
		top: 100px;
		right: 20px;
	}
}

.bg_draw_first {
	width: 100%;
	min-width: 100%;
	height: 260px;
	img {
		width: 100%;
	  min-width: 100%;
	}
	background: url(../img/slide_vehicle_bg.png);
	@include background-size(cover);
	background-repeat: no-repeat;
}

.bg_draw_second {
	width: 100%;
	height: 260px;
	background: url(../img/slide_cloudnavi_bg.png);
	@include background-size(cover);
	background-repeat: no-repeat;
}

.bg_draw_third {
	width: 100%;
	height: 260px;
	background: url(../img/slide_mymusic_bg.png);
	@include background-size(cover);
	//background-position: 50% 50%;
	background-repeat: no-repeat;
}

.disp_first {
	width: 774px;
	height: 260px;
	background: url(../img/slide_vehicle_contents_1.png);
	//@include background-size(774px 378px);
	position: relative;
	//border: #ff0000 solid 1px; //debug
}

.disp_second {
	width: 774px;
	height: 378px;
	position: relative;
	//border: #ff0000 solid 1px; //debug
}

.disp_third {
	width: 774px;
	height: 378px;
	background: url(../img/banner_3.png);
	@include background-size(774px 378px);
	position: relative;
	//border: #ff0000 solid 1px; //debug
}

/* Each Element */
.element_1_1 {
	position: absolute;
	text-align: center;
	top: 40px;
	padding-left: 10px;
}
.element_1_2 {
  position: absolute;
	text-align: center;
	top: 100px;
	padding-left: 10px;
	//border: #ff0000 solid 1px; //debug
}

.element_2_1 {
  position: absolute;
	top: 26px;
	margin-left: -40px;
	//border: #ff0000 solid 1px; //debug
}
.element_2_2 {
  position: absolute;
	top: 20px;
	margin-left: 120px;
	//border: #ff0000 solid 1px; //debug
}
.element_2_3 {
  position: absolute;
	top: 60px;
	padding-left: 330px;
	//border: #ff0000 solid 1px; //debug
}
.element_3_1 {
	position: absolute;
	text-align: center;
	top: 70px;
	//border: #ff0000 solid 1px; //debug
}


/* Original ここまで*/

.item a, .item-triple a {
  display: block;
  width: 960px;
  height: 540px;
}

.item .background img {
  //max-width: 960px; /* to avoid max-width: 100% of Twitter Bootstrap */
}

.item-triple .background img {
  //max-width: 320px; /* to avoid max-width: 100% of Twitter Bootstrap */
}

.foreground .element, .foreground-triple .element {
  color: #fff;
  text-shadow: 1px 1px 2px #000000;
  width: 500px;
  //position: relative;
  left: 130px;
}

.foreground .element.icon, .foreground-triple .element.icon {
  top: 340px;
  left: 60px;
  width: 114px;
  height: 114px;
  background: transparent url(../img/play.png) no-repeat;
  background-position: 0 0;
}

.background .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, transparent), color-stop(80%, rgba(0, 0, 0, 0.8)));
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 80%);
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 80%);
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 80%);
  background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 80%);
  background: linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 80%);
}

.foreground .element.title, .foreground-triple .element.title {
  text-transform: uppercase;
  font-size: 40px;
  top: 280px;
}

.foreground .element.subtitle {
  font-size: 17px;
  top: 300px;
}

.ui-loader {
  display: none;
}

#multiple-slide-container .triple-slides {
  width: 320px;
  height: 540px;
  float: left;
  overflow: hidden;
  position: relative;
}

#multiple-slide-container .triple-slides .foreground-triple .element.title {
  font-size: 28px;
}

#multiple-slide-container .triple-slides .item-triple a {
  width: 320px;
  height: 260px;
}

//basic.css
#slide-container, #multiple-slide-container {
  position: relative;
  overflow: hidden;
  margin: 0px auto;
  width: 100%;
  height: 260px;
  //border: #ff0000 solid 1px; //debug
}

.item, .item-triple {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.foreground {
  //position: absolute;
  margin-left: auto;
  margin-right: auto;
  //border: #ff0000 solid 1px; //debug
}

.background {
  position: absolute;
  overflow: hidden;
  width: 100%;
  background-repeat: repeat;
}
