@charset "utf-8";
// ===================================================================
// mixinやらCSS3やら、extendも。
// ===================================================================

/* layout ============================= */
@mixin block_center {
	margin-left: auto;
	margin-right: auto;
}



/* cnavi, nnavi ============================= */


@mixin cnavi-base {
	width: 100%;
	height: 84px;
	background: rgba(#f5f5f5, 1.0);
	border-bottom: solid 1px #d6d6d6;
}

//@cnavi ul
@mixin cnavi {
	height: 80px;
	padding: 30px 0 0 20px;
	li {
		display: inline-block;
		margin: 0 8px 0 0;
		@include fontsize-14;
		&.active a{
			background: rgba(#a6a6a6, 1.0);
			color: white;
		}
		a  {
			height: 24px;
			display: inline-block;
			padding: 0 12px 0 12px;
			line-height: 23px;
			text-align: center;
			@include grey-normal;
			@include border-radius(12px);
			cursor: pointer;
			&:hover {
				color :#333333;
				text-decoration: none;
				background: rgba(#555, 0.1);
				@include transition-duration(0.3s);
			}
		}
	}
}

//@nnavi ul
@mixin nnavi {
	width: 396px;
	height: 62px;
	padding: 18px 0 0 18px;
	li {
		display: inline-block;
		margin: 0 6px 0 0;
		@include fontsize-14;
		&.active a{
			background: rgba(#a6a6a6, 1.0);
			color: white;
		}
		a  {
			width: 82px;
			height: 24px;
			display: inline-block;
			line-height: 23px;
			text-align: center;
			@include grey-normal;
			@include border-radius(12px);
			&:hover {
				color :#333333;
				text-decoration: none;
				background: rgba(#555, 0.1);
				@include transition-duration(0.3s);
			}
		}
	}
}

//@radius input form 
@mixin input_form {
	width: 300px !important;
	height: 36px;
    padding-left:38px;
    @include border-radius(18px);
}

@mixin input_form_navi {
	position: relative;
	width: 360px !important;
	height: 36px;
    padding-left: 38px;
	padding-right: 32px;
    @include border-radius(18px);
}

@mixin search_icon {
	position: absolute;
	left: 14px;
	top: 34px;
	color: grey;
}


/* Font ============================= */

@mixin fontsize-13 {
	font-size: 13px;
}

@mixin fontsize-14 {
	font-size: 14px;
}

@mixin fontsize-15 {
	font-size: 15px;
}

@mixin fontsize-17 {
	font-size: 17px;
}

@mixin fontsize-21 {
	font-size: 21px;
}

@mixin fontsize-24 {
	font-size: 24px;
}

@mixin fontsize-34 {
	font-size: 34px;
}

@mixin grey-important {
	color: rgba(#4d4d4d, 1.0);
	font-weight: 600;
}

@mixin grey-middle {
	color: rgba(#333333, 1.0);
}

@mixin grey-normal {
	color: rgba(#808080, 1.0);
}

@mixin grey-bit {
	color: rgba(#333333, 1.0);
}

@mixin blue-important {
	color: rgba(#3498db, 1.0);
	font-weight: 600;
}

@mixin blue-normal {
	color: rgba(#3498db, 1.0);
	font-weight: 200;
}

@mixin white-important {
	color: rgba(#ffffff, 1.0);
	font-weight: 600;
}

@mixin white-normal {
	color: rgba(#ffffff, 1.0);
	font-weight: 200;
}

@mixin red-important {
	color: rgba(#e74c3c, 1.0);
	font-weight: 600;
}

@mixin red-normal {
	color: rgba(#e74c3c, 1.0);
	font-weight: 200;
}

@mixin yellow-normal {
	color: rgba(#f39c12, 1.0);
	font-weight: 200;
}

@mixin yellow-important {
	color: rgba(#f39c12, 1.0);
	font-weight: 600;
}

@mixin green-important {
	color: rgba(#8ebf13, 1.0);
	font-weight: 600;
}

@mixin green-normal {
	color: rgba(#8ebf13, 1.0);
	font-weight: 200;
}

// a, a:hover
@mixin blue_text_anchor {
	text-decoration: none;
	cursor: pointer;
	&:hover {
		color: #076eb3;
		@include transition-duration(0.1s);
		@include transition-timing-function(ease-in);
	}
}

@mixin grey_text_anchor {
	text-decoration: none;
	cursor: pointer;
	&:hover {
		color: #333333 !important;
		@include transition-duration(0.1s);
		@include transition-timing-function(ease-in);
	}
}

@mixin grey_bit_text_anchor {
	text-decoration: none;
	cursor: pointer;
	&:hover {
		color: #070707 !important;
		@include transition-duration(0.1s);
		@include transition-timing-function(ease-in);
	}
}

@mixin white_text_anchor {
	text-decoration: none;
	cursor: pointer;
	&:hover {
		color: #cccccc;
		@include transition-duration(0.2s);
		@include transition-timing-function(ease-in);
	}
}

@mixin white_to_red_anchor {
	text-decoration: none;
	cursor: pointer;
	&:hover {
		color: rgba(#e74c3c, 1.0);
		@include transition-duration(0.1s);
		@include transition-timing-function(ease-in);
	}
}

@mixin app_link_anchor {
	//text-decoration: none;
	cursor: pointer;
	&:hover .app_title {
		color: #333333;		
		@include transition-duration(0.2s);
		@include transition-timing-function(ease-in);
		text-decoration: underline;
	}	
}

@mixin fav_icon_anchor {
	text-decoration: none;
	cursor: pointer;
	&:hover {
		@include opacity(1.0);
		
		@include transition-duration(0.1s);
		@include transition-timing-function(ease-in);
		//@include text-shadow(rgba(black, 1.0) 0 0 1px);
	}
}


a.white_text {}


/* Button ============================= */

// @round button 90x20 Grey
@mixin r-btn-s-grey {
	width: 100px;
	height: 20px;
	@include border-radius(12px);
	background: rgba(#4d4d4d, 1.0);
	border: none;
	@include box-shadow(rgba(black, 0.2) 0 -2px 0 0 inset);
	@include fontsize-13;
	color: white;
	&:hover {
		@include transition-duration(0.4s);
		@include box-shadow(rgba(black, 0.4) 0 -2px 0 0 inset);
		background: rgba(#333333, 1.0);
	}
}

// @round button 132x28 Blue
@mixin r-btn-ms-blue {
	width: 132px;
	height: 28px;
	@include border-radius(14px);
	background: rgba(#2f8dcc, 1.0);
	border: none;
	@include box-shadow(rgba(black, 0.2) 0 -2px 0 0 inset);
	@include fontsize-14;
	color: white;
	&:hover {
		@include transition-duration(0.4s);
		@include box-shadow(rgba(black, 0.4) 0 -2px 0 0 inset);
		background: rgba(#2980b9, 1.0);
	}
	&:disabled {
		@include box-shadow(rgba(black, 0.0) 0 -2px 0 0 inset);
		background: rgba(#cccccc, 1.0);
	}
}

// @round button 132x28 Grey
@mixin r-btn-ms-grey {
	width: 132px;
	height: 28px;
	@include border-radius(14px);
	background: rgba(#4d4d4d, 1.0);
	border: none;
	@include box-shadow(rgba(black, 0.2) 0 -2px 0 0 inset);
	@include fontsize-14;
	color: white;
	&:hover {
		@include transition-duration(0.4s);
		@include box-shadow(rgba(black, 0.4) 0 -2px 0 0 inset);
		background: rgba(#333333, 1.0);
	}
}

// @round button 190x28 Blue
@mixin r-btn-ml-blue {
	width: 190px;
	height: 28px;
	@include border-radius(14px);
	@include background-image(linear-gradient(#3498db, #2980b9));
	color: white;
	border: none;
	@include box-shadow(rgba(black, 0.4) 0 1px 2px);
	@include fontsize-14;
	color: white;
	@include pie;
}

// @round button 190x28 White
@mixin r-btn-ml-white {
	width: 190px;
	height: 28px;
	@include border-radius(14px);
	@include background-image(linear-gradient(white, #aaaaaa));
	color: white;
	border: none;
	@include box-shadow(rgba(black, 0.4) 0 1px 2px);
	@include fontsize-14;
	color: white;
}

// @round button 212x44 Grey
@mixin r-btn-l-grey {
	width: 212px;
	height: 44px;
	display: block;
	@include border-radius(22px);
	background: rgba(#404040, 1.0);
	border: none;
	@include box-shadow(rgba(black, 0.2) 0 -3px 0 0 inset);
	@include fontsize-21;
	position: relative;
	color: white;
	&:hover {
		@include transition-duration(0.4s);
		@include box-shadow(rgba(black, 0.4) 0 -3px 0 0 inset);
		background: rgba(#333333, 1.0);
	}
}

// @round button 190x28 White
@mixin r-btn-ml-white {
	width: 190px;
	height: 28px;
	@include border-radius(14px);
	background: rgba(#ebebeb, 1.0);
	border: none;
	@include box-shadow(rgba(black, 0.1) 0 -2px 0 0 inset);
	@include fontsize-14;
	color: white;
	&:hover {
		@include transition-duration(0.4s);
		@include box-shadow(rgba(black, 0.2) 0 -2px 0 0 inset);
		background: rgba(#dedede, 1.0);
	}
}

// @load more link
@mixin load_more {
	display: inline-block;
	width: 100px;
	float: right;
	padding-right: 4px;
	@include fontsize-13;
	@include blue-normal;
	@include blue_text_anchor;
	text-align: right;
	//border: #ff0000 solid 1px; //debug
	i { padding-left: 8px;}
}

// @Button disabled
@mixin btn_disabled_color {
	background: rgba(#a6a6a6, 1.0);
	@include box-shadow(none);
}

// @Header dropdown button
@mixin header_dropdown_normal {
	background: none !important;
	color: #ffffff !important;
	box-shadow: none !important;
	border: none !important;
}

@mixin header_dropdown_active {
	background: none !important;
	color: #cccccc !important;
	box-shadow: none !important;
}

/* Line ============================= */
@mixin dot_line_normal {
	border-bottom: dotted 2px rgba(#cccccc, 1.0);
}

// @Star area
@mixin star_gauge {
	width: 460px;
		clear: both;
		overflow: hidden;
		padding: 8px 0 0 0;
		.star_average {
			width: 28px;
			height: 28px;
			display: inline-block;
			float: left;
			background-repeat: no-repeat;
			background-size: 24px 24px;
		}
		.star_on {
					background-image:url('../img/icon_star_full.png');
		}
		.star_off {
					background-image:url('../img/icon_star_empty.png');
		}
		.star_half {
					background-image:url('../img/icon_star_half.png');
		}
}

/* Map Pin ============================= */
@mixin pin_black_normal {
	display: inline-block;
	width: 26px;
	height: 26px;
	background: rgba(#34495e, 1.0);
	border: solid 2px #fff;
	text-align: center;
	line-height: 20px;
	@include border-radius(13px);
	@include box-shadow(rgba(black, 0.4) 0 1px 3px);
	@include box-sizing(border-box);
	@include fontsize-14;
	@include white-important;
}

@mixin pin_blue_normal {
	display: inline-block;
	width: 26px;
	height: 26px;
	background: rgba(#3498db, 1.0);
	border: solid 2px #fff;
	text-align: center;
	line-height: 20px;
	@include border-radius(13px);
	@include box-shadow(rgba(black, 0.4) 0 1px 3px);
	@include box-sizing(border-box);
	@include fontsize-14;
	@include white-important;
}

@mixin pin_black_normal_dot {
	display: inline-block;
	width: 26px;
	height: 26px;
	background: rgba(#34495e, 1.0);
	border: solid 2px #fff;
	text-align: center;
	@include border-radius(13px);
	@include box-shadow(rgba(black, 0.4) 0 1px 3px);
	@include box-sizing(border-box);
	@include white-important;
	text-align: center;
}

@mixin dot_after {
	width: 8px;
	height: 8px;
	content: "";
	display: block;
	background: rgba(#fff, 1.0);
	@include border-radius(4px);
	@include block_center;
	
}

@mixin dot_after_selected {
	width: 12px;
	height: 12px;
	content: "";
	display: block;
	background: rgba(#fff, 1.0);
	@include border-radius(6px);
	@include block_center;
	
}

@mixin map_pin_selected {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: rgba(#3498db, 1.0);
	border: solid 2px #fff;
	text-align: center;
	line-height: 20px;
	@include border-radius(16px);
	@include box-shadow(rgba(black, 0.4) 0 1px 3px);
	@include box-sizing(border-box);
	@include fontsize-14;
	@include white-important;
}

// ===================================================================
// extend
// ===================================================================




// text aline
.text_C {text-align: center;}
.text_R {text-align: right;}


