
@charset "utf-8";


/* =============================

	Basic	
	
============================= */

html,body {
	height: 100%;
}

.wrapper_top {
	height: 100%;
}

/* Header ============================= */

.header_top {
	width: 100%;
	height: 160px;
	background-image: url(../img/bg_top_header.png) ;
	background-repeat: repeat-x;
	position: fixed;
	top: 0;
	z-index: 999;
}

/* Footer ============================= */

.footer_top {
	display: none;
}

/* main ============================= */

.main {
	height: 100%;
	width: 100%;
	//display: table;
}

/* top_main_container ========================================================================= */

.top_main_container {
	height: 100%;
	min-height: 100%;
	width: 100%;
	vertical-align: inherit;
	background-image: url(../img/bg_top_outfocus.jpg) ;
	background-position:center -80px ;
	background-repeat: no-repeat;
	@include background-size(cover);
	position: relative;
	//border: #ff0000 solid 1px; //debug
}

/* bottom_info_area ========================================================================= */

.bottom_info_area {
	width: 100%;
	height: 312px;
	background: rgba(#ededed, 1.0);
	position: absolute;
	bottom: 0;
	padding: 12px 0 0 0;
	//border: #0012ff solid 1px; //debug
	.bottom_info {
		width: 1004px;
		height: 264px;
		@include block_center;
		clear: both;
		overflow: hidden;
		padding-left: 12px;
		//border: #0012ff solid 1px; //debug
	}
	.car_info {
		width: 624px;
		height: 260px;
		float: left;
		background: rgba(#fff, 1.0);
		@include border-top-left-radius(4px);
		@include border-bottom-left-radius(4px);
		margin-right: 12px;
		clear: both;
		overflow: hidden;
		@include box-sizing(content-box);
		@include box-shadow(rgba(black, 0.2) 0 2px 2px);
		.dashboard {
			width: 344px;
			display: inline-block;
			padding: 20px;
			h3 {
				display: inline-block;
				@include fontsize-17;
				@include grey-important;
			}
			.latest_update {
				display: inline-block;
				float: right;
				padding-top: 2px;
				@include fontsize-13;
				@include grey-normal;
			}
		}
	}
	.information {
		width: 344px;
		height: 260px;
		float: left;
		background: rgba(#fff, 1.0);
		@include border-top-right-radius(4px);
		@include border-bottom-right-radius(4px);
		@include box-shadow(rgba(black, 0.2) 0 2px 2px);
		padding: 20px;
		h3 {
			display: inline-block;
			@include fontsize-17;
			@include grey-important;
			padding: 0 0 32px 0;
			//border: #ff0000 solid 1px; //debug
		}
		.butn_more_info {
			display: inline-block;
			@include fontsize-13;
			@include grey-normal;
			width: 74px;
			height: 48px;
			float: right;
			margin-top: -20px;
			border-left: solid 1px rgba(#cccccc, 1.0);
			position: relative;
			padding: 0 0 0 10px;
			a {
				position: absolute;
				bottom: 2px;
				vertical-align: bottom;
				@include grey-normal;
				@include grey_text_anchor;
				i { margin-left: 8px;}
			}
		}
		.info_list {
			padding: 0 0 0 0;
			@include fontsize-13;
			height: 170px;
			overflow: hidden;
			//border: #ff0000 solid 1px; //debug
			li {
				height: 44px;
				text-decoration: none;
				line-height: 18px;
				//border: #ff0000 solid 1px; //debug
				
				.info_date {
					display: inline-block;
					width: 94px;
					height: 38px;
					float: left;
					//border: #000000 solid 1px; //debug
				}
				.info_article {
					width: 200px;
					height: 38px;
					overflow: hidden;
					float: left;
					@include grey-normal;
					@include grey_text_anchor;
					//border: #000000 solid 1px; //debug
				}
				a {
					@include blue_text_anchor;
				}
			}
			
		}
	}
}

.category_dashboard {
	clear: both;
	overflow: hidden;
	padding: 4px 4px 4px 12px;
  //border: #ff0000 solid 1px; //debug
}

.chart_area {
	width: 102px;
	height: 96px;
	float: left;
	padding-top: 6px;
	img {
		width: 102px;
	  height: 96px;
	}
}

.value_area {
	//border: #00ff27 solid 1px; //debug
	width: 174px;
	float: left;
	padding: 26px 0 0 0;
	h4 {
		@include fontsize-15;
		@include grey-normal;
		padding-bottom: 4px;
		padding-left: 20px;
	}
	.value_dashboard {
		@include fontsize-34;
		@include grey-important;
		padding-left: 20px;
	}
}

.current_location {
	width: 276px;
	height: 260px;
	float: right;
	background: #adadad;
	position: relative;
}

.icon_car_position_top {
	z-index: 5000;
	position: absolute;
	img {
		width: 72px;
		height: 72px;
	}
}

/* Copy right for top page */
.copyright_toppage {
	height: 28px;
	text-align: center;
	padding-top: 10px;
	@include fontsize-13;
	@include grey-normal;
}

/* Info window for Top page and Info page */
.info_window_infopage {
	//border: #00ff27 solid 1px; //debug
}
.deCarta-InfoWindow {
	padding: 8px !important;
	background: #fff;
	min-width: 200px !important;
	@include border-radius(16px);
	&:after {
		opacity: 1;
	}
	.deCarta-InfoWindow-Background {
		background: #fff;
		@include border-radius(5px);
		//border: #0027ff solid 1px; //debug
	}
	.address_info_window {
		@include fontsize-13;
		@include grey-important;
		padding-bottom: 8px;
	}
	.update_infowindow {
		@include fontsize-13;
		@include grey-normal;
	}
}
