<ol class="breadcrumb">
  <li class="active">Category</li>
</ol>
<ul class="list_map">
  <li class="no_btn">
    <div class="category"><img src="/static/img/categories_airport.png" alt="Airport Icon"></div>
    <a data-ng-click="navi.go('cdetail', 'airport')">
      <span class="name_poi">Airport</span>
    </a>
  </li>
  <li class="no_btn">
    <div class="category"><img src="/static/img/categories_atm.png" alt="ATM Icon"></div>
    <a data-ng-click="navi.go('cdetail', 'atm')">
      <span class="name_poi">ATM</span>
    </a>
  </li>
  <li class="no_btn">
    <div class="category"><img src="/static/img/categories_bar.png" alt="Bar Icon"></div>
    <a data-ng-click="navi.go('cdetail', 'bar')">
      <span class="name_poi">Bar</span>
    </a>
  </li>
  <li class="no_btn">
    <div class="category"><img src="/static/img/categories_coffee.png" alt="Coffee Icon"></div>
    <a data-ng-click="navi.go('cdetail', 'coffee')">
      <span class="name_poi">Coffee</span>
    </a>
  </li>
  <li class="no_btn">
    <div class="category"><img src="/static/img/categories_department.png" alt="Department Icon"></div>
    <a data-ng-click="navi.go('cdetail', 'department')">
      <span class="name_poi">Department</span>
    </a>
  </li>
  <li class="no_btn">
    <div class="category"><img src="/static/img/categories_gas.png" alt="Gas Icon"></div>
    <a data-ng-click="navi.go('cdetail', 'gas')">
      <span class="name_poi">Gas</span>
    </a>
  </li>
  <li class="no_btn">
    <div class="category"><img src="/static/img/categories_hospital.png" alt="Hospital Icon"></div>
    <a data-ng-click="navi.go('cdetail', 'hospital')">
      <span class="name_poi">Hospital</span>
    </a>
  </li>
  <li class="no_btn">
    <div class="category"><img src="/static/img/categories_hotel.png" alt="Hotel Icon"></div>
    <a data-ng-click="navi.go('cdetail', 'hotel')">
      <span class="name_poi">Hotel</span>
    </a>
  </li>
  <li class="no_btn">
    <div class="category"><img src="/static/img/categories_movie.png" alt="Movie Icon"></div>
    <a data-ng-click="navi.go('cdetail', 'movie')">
      <span class="name_poi">Movie</span>
    </a>
  </li>
  <li class="no_btn">
    <div class="category"><img src="/static/img/categories_parking.png" alt="Parking Icon"></div>
    <a data-ng-click="navi.go('cdetail', 'parking')">
      <span class="name_poi">Parking</span>
    </a>
  </li>
  <li class="no_btn">
    <div class="category"><img src="/static/img/categories_eat.png" alt="Restaurant Icon"></div>
    <a data-ng-click="navi.go('cdetail', 'restaurant')">
      <span class="name_poi">Restaurant</span>
    </a>
  </li>
</ul>

