<ol class="breadcrumb">
  <li>History</li>
</ol>
<ul class="list_map" data-ng-controller="NaviHistController as hist">
  <span data-ng-show="hist.list.length === 0">Loading...</span>
  <li class="single_btn" data-ng-repeat="poi in hist.list" data-ng-class="{selected: poi.selected}" data-ng-click="hist.setSelected($index)">
    <div class="pin_dot"></div>
    <a>
      <span class="name_poi">{{ poi.name }}</span>
      <span class="address_poi">{{ poi.address }}</span>
    </a>
    <div class="btn_list btn_fav">
      <label class="switch-light switch-candy" data-ng-hide="poi.updating">
        <input type="checkbox" value="true" data-ng-model="poi.fav" data-ng-click="hist.switchFav(poi)"><i class="fav glyphicon glyphicon-star"></i>
      </label>
      <i class="fav fa fa-spin fa-spinner" data-ng-show="poi.updating"></i>
    </div>
  </li>
</ul>

