<section class="map_area right-side" data-ng-class="{strech: navi.hideMenu}">

  <!-- btn_map -->
  <div class="btn_map">
    <a class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button" data-ng-click="navi.toggleMenuShown()">
      <i class="fa fa-caret-left"></i><i class="fa fa-caret-right"></i>
    </a>
  </div>
  <!-- btn_map -->

  <div id="navigation_map" class="map_area_body" data-ui-decarta="navi.map" data-ui-options="navi.mapOptions"></div>
  <div data-ng-repeat="pin in navi.pins" data-ui-decarta-pin="navi.pins[$index]" data-ui-event="{'decarta-click': 'navi.selectPin(pin)'}"></div>

</section>


<!-- sidebar_area -->
<section class="sidebar_area left-side" data-ng-class="{'collapse-left': navi.hideMenu}">
  <div class="sidebar_area_body">
    <div class="header_sidebar">
      <ul class="n_navi">
        <li data-ng-class="{active: navi.params.t === 'search'}"><a data-ng-click="navi.go('search')">Search</a></li>
        <li data-ng-class="{active: navi.params.t === 'clist' || navi.params.t === 'cdetail'}"><a data-ng-click="navi.go('clist')">Category</a></li>
        <li data-ng-class="{active: navi.params.t === 'fav'}"><a data-ng-click="navi.go('fav')">Favorites</a></li>
        <li data-ng-class="{active: navi.params.t === 'hist'}"><a data-ng-click="navi.go('hist')">History</a></li>
      </ul>
    </div>
    <div class="main_sidebar" data-ng-include="navi.template">
    </div>
  </div>
</section>
<!-- sidebar_area -->
