<div data-ng-controller="NaviSearchController as search">
  <div class="index_main_sidebar">
    <form class="form-search form-inline r-search" data-ng-submit="search.execute()">
      <input type="text" class="form-control" placeholder="Input to search" data-ng-model="search.query">
      <span class="search glyphicon glyphicon-search"></span>
      <i class="loading fa fa-spin fa-spinner" data-ng-show="search.loading"></i>
    </form>
  </div>
  <ul class="list_map">
    <li class="single_btn" data-ng-repeat="poi in search.list" data-ng-class="{selected: poi.selected}" data-ng-click="search.setSelected($index)">
      <div class="pin_number">{{ search.getListPinNumber($index) }}</div>
      <a>
        <span class="name_poi">{{ poi.name }}</span>
        <span class="address_poi">{{ poi.address }}</span>
      </a>
      <div class="btn_list btn_fav">
        <label class="switch-light switch-candy" data-ng-hide="poi.updating">
          <input type="checkbox" value="true" data-ng-model="poi.fav" data-ng-click="search.switchFav(poi)"><i class="fav glyphicon glyphicon-star"></i>
        </label>
        <i class="fav fa fa-spin fa-spinner" data-ng-show="poi.updating"></i>
      </div>
    </li>
  </ul>
</div>

