<!--  calendar C=left3 ++++++++++  -->
<div ng-controller="CalendarCtrl" class="col-xs-3 contents_base_color_box mar_bottom20">
	<!-- tab "day,week,month" -->
	<calendar-nav></calendar-nav>
	<div class="mar_bottom20" ng-switch="params.ctype">
		<!-- control -->
		<ul class="real_cal_control">
			<li><span class="glyphicon glyphicon-chevron-left" ng-click="goPrev()"></span></li>
			<li>{{calHeader.date | date:(calHeader.format | translate)}}</li>
			<li><span class="glyphicon glyphicon-chevron-right" ng-click="goNext()"></span></li>
		</ul>
		<!-- calendar body -->
		<div ng-show="params.ctype === 'd'">
			<div class="past_cal_body" ui-calendar="uiConfig.calendar" ng-model="eventSources"
				calendar="monthCalendar"/>
		</div>
		<!--  week  -->
		<div ng-switch-when="w">
			<week-calendar></week-calendar>
		</div>
		<!--  month  -->
		<div ng-switch-when="m">
			<month-calendar></month-calendar>
		</div>
	</div>
  <!--
	<button class="report_download_btn" type="button" translate><span class="glyphicon glyphicon-cloud-download"></span>
		REPORT.DOWNLOAD
	</button>
	-->
</div>
<!--  /end_ calendar ++++++++++  -->